<VirtualHost *:80>

ServerName {{ apache_site_name }}
ServerAlias www.{{ apache_site_name }}
ServerAdmin webmaster@localhost
DocumentRoot /var/www/{{ apache_site_name }}
ErrorLog ${APACHE_LOG_DIR}/error.log
CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
